ivs-synapse/TemplateForWorkspace.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"workspaceName": {
			"type": "string",
			"metadata": "Workspace name",
			"defaultValue": "ivs-synapse"
		},
		"AdventureWorksSQL_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'AdventureWorksSQL'"
		},
		"ivs-synapse-WorkspaceDefaultSqlServer_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ivs-synapse-WorkspaceDefaultSqlServer'"
		},
		"ivs_od_sqlpool_connectionString": {
			"type": "secureString",
			"metadata": "Secure string for 'connectionString' of 'ivs_od_sqlpool'"
		},
		"ivs-synapse-WorkspaceDefaultStorage_properties_typeProperties_url": {
			"type": "string",
			"defaultValue": "https://ivsdatastorage.dfs.core.windows.net"
		},
		"ivs_dwh_kv_properties_typeProperties_baseUrl": {
			"type": "string",
			"defaultValue": "https://ivs-dwh-kv.vault.azure.net/"
		},
		"SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_subscription": {
			"type": "string",
			"defaultValue": "f939f8f3-2652-4a45-88ae-78a7782ec9df"
		},
		"SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_resourceGroup": {
			"type": "string",
			"defaultValue": "ivs-dwh-rg"
		},
		"SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_workspace": {
			"type": "string",
			"defaultValue": "ivs-synapse"
		},
		"SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_sqlPool": {
			"type": "string",
			"defaultValue": "ivs_sqlpool"
		}
	},
	"variables": {
		"workspaceId": "[concat('Microsoft.Synapse/workspaces/', parameters('workspaceName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('workspaceName'), '/DeltaLake')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "Data flow1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "1.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "DeltaLake",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/DeltaLake')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SQLPoolPause')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "SQLPoolGetStatus",
						"type": "WebActivity",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 200,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@concat('https://management.azure.com/subscriptions/', pipeline().parameters.p_subscription, '/resourceGroups/', pipeline().parameters.p_resourceGroup, '/providers/Microsoft.Synapse/workspaces/', pipeline().parameters.p_workspace, '/sqlPools/', pipeline().parameters.p_sqlPool, '/?api-version=2019-06-01-preview')",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "GET",
							"headers": {},
							"body": {
								"sku": {
									"name": "DW100c"
								}
							},
							"authentication": {
								"type": "MSI",
								"resource": "https://management.azure.com/"
							}
						}
					},
					{
						"name": "StatusCheck",
						"type": "IfCondition",
						"dependsOn": [
							{
								"activity": "SQLPoolGetStatus",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"expression": {
								"value": "@equals(activity('SQLPoolGetStatus').output.properties.status, 'Paused')",
								"type": "Expression"
							},
							"ifFalseActivities": [
								{
									"name": "SQLPoolPause",
									"type": "WebActivity",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 2,
										"retryIntervalInSeconds": 200,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"url": {
											"value": "@concat('https://management.azure.com/subscriptions/', pipeline().parameters.p_subscription, '/resourceGroups/', pipeline().parameters.p_resourceGroup, '/providers/Microsoft.Synapse/workspaces/', pipeline().parameters.p_workspace, '/sqlPools/', pipeline().parameters.p_sqlPool, '/pause?api-version=2019-06-01-preview')",
											"type": "Expression"
										},
										"method": "POST",
										"headers": {},
										"body": {
											"value": "'{ ]'",
											"type": "Expression"
										},
										"authentication": {
											"type": "MSI",
											"resource": "https://management.azure.com/"
										}
									}
								}
							]
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_subscription": {
						"type": "string",
						"defaultValue": "f939f8f3-2652-4a45-88ae-78a7782ec9df"
					},
					"p_resourceGroup": {
						"type": "string",
						"defaultValue": "ivs-dwh-rg"
					},
					"p_workspace": {
						"type": "string",
						"defaultValue": "ivs-synapse"
					},
					"p_sqlPool": {
						"type": "string",
						"defaultValue": "ivs_sqlpool"
					}
				},
				"folder": {
					"name": "Scheduled"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateDimensions')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "TemplateDimension1",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TemplateDimension1",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DataSource": {},
									"Dimension": {},
									"DimensionSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adftemplate/staging/dimension1"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TemplateDimension2",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TemplateDimension2",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"DataSource": {},
									"Dimension": {},
									"DimensionSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adftemplate/staging/dimension2"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"folder": {
					"name": "Templates"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/TemplateDimension1')]",
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]",
				"[concat(variables('workspaceId'), '/dataflows/TemplateDimension2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateFact')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "TemplateIncrementalStaging",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "LookupLatestCDC",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TemplateIncrementalStaging",
								"type": "DataFlowReference",
								"parameters": {
									"p_latest_datetime": "'1900-01-01 00:00:000'",
									"p_main_source": "'ADLS_TMPL_DATASOURCE1'",
									"p_cdc_column": "'CDC_TIMESTAMP'"
								},
								"datasetParameters": {
									"MainSource": {},
									"SlaveSource2": {},
									"SlaveSource3": {},
									"SinkStaging": {},
									"SinkStagingKey": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "TemplateFact",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "TemplateIncrementalStaging",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "TemplateFact",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"Source": {},
									"Dimension1": {},
									"Dimension2": {},
									"Fact": {},
									"FactSink": {}
								}
							},
							"staging": {
								"linkedService": {
									"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
									"type": "LinkedServiceReference"
								},
								"folderPath": "adftemplate/staging/fact"
							},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "LookupLatestCDC",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "SqlDWSource",
								"sqlReaderQuery": {
									"value": "@concat('select case count(*) when 0 then ''', ''' else (select convert(varchar, max(', pipeline().parameters.p_cdc_column, '), 21) from ', pipeline().parameters.p_target_table, ') end LATEST_DATETIME from ', pipeline().parameters.p_target_table)",
									"type": "Expression"
								},
								"queryTimeout": "02:00:00",
								"partitionOption": "None"
							},
							"dataset": {
								"referenceName": "TMPL_FACT",
								"type": "DatasetReference",
								"parameters": {}
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"p_latest_datetime": {
						"type": "string"
					},
					"p_target_table": {
						"type": "string",
						"defaultValue": "TMPL_FACT"
					},
					"p_cdc_column": {
						"type": "string",
						"defaultValue": "SRC1_CDC_TIMESTAMP"
					}
				},
				"folder": {
					"name": "Templates"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/dataflows/TemplateIncrementalStaging')]",
				"[concat(variables('workspaceId'), '/dataflows/TemplateFact')]",
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_FACT')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateSchedPipeline')]",
			"type": "Microsoft.Synapse/workspaces/pipelines",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"activities": [
					{
						"name": "TemplateDimensions",
						"description": "",
						"type": "ExecutePipeline",
						"dependsOn": [],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TemplateDimensions",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "TemplateFact",
						"type": "ExecutePipeline",
						"dependsOn": [
							{
								"activity": "TemplateDimensions",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"pipeline": {
								"referenceName": "TemplateFact",
								"type": "PipelineReference"
							},
							"waitOnCompletion": true,
							"parameters": {}
						}
					},
					{
						"name": "WarningEmail_Fact",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "TemplateFact",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 200,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.LogicAppWarningMsgURL",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"message": "@{activity('TemplateFact').error.message}",
								"receiver": "@pipeline().parameters.receiver",
								"CCreceiver": "@pipeline().parameters.CCreceiver",
								"pipelineName": "@{pipeline().Pipeline}"
							}
						}
					},
					{
						"name": "WarningEmail_Dimensions",
						"type": "WebActivity",
						"dependsOn": [
							{
								"activity": "TemplateDimensions",
								"dependencyConditions": [
									"Failed"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 2,
							"retryIntervalInSeconds": 200,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"url": {
								"value": "@pipeline().parameters.LogicAppWarningMsgURL",
								"type": "Expression"
							},
							"connectVia": {
								"referenceName": "AutoResolveIntegrationRuntime",
								"type": "IntegrationRuntimeReference"
							},
							"method": "POST",
							"headers": {
								"Content-Type": "application/json"
							},
							"body": {
								"dataFactoryName": "@{pipeline().DataFactory}",
								"message": "@{activity('TemplateDimensions').error.message}",
								"receiver": "@pipeline().parameters.receiver",
								"CCreceiver": "@pipeline().parameters.CCreceiver",
								"pipelineName": "@{pipeline().Pipeline}"
							}
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {},
					"cancelAfter": {}
				},
				"parameters": {
					"LogicAppWarningMsgURL": {
						"type": "string"
					},
					"receiver": {
						"type": "string"
					},
					"CCreceiver": {
						"type": "string"
					}
				},
				"folder": {
					"name": "Templates"
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/TemplateDimensions')]",
				"[concat(variables('workspaceId'), '/pipelines/TemplateFact')]",
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS_TMPL_DATASOURCE1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "ivs_sqlpool"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "SOURCE1_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE2_REF_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE3_REF_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NCHAR_VALUE1",
						"type": "nvarchar"
					},
					{
						"name": "NCHAR_VALUE2",
						"type": "nvarchar"
					},
					{
						"name": "NUMERIC_VALUE1",
						"type": "decimal",
						"precision": 12,
						"scale": 6
					},
					{
						"name": "NUMERIC_VALUE2",
						"type": "decimal",
						"precision": 12,
						"scale": 6
					},
					{
						"name": "DATETIME_VALUE1",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATETIME_VALUE2",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CDC_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "dbo.ADLS_TMPL_DATASOURCE1"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS_TMPL_DATASOURCE3')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "ivs_sqlpool"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "SOURCE3_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NCHAR_VALUE1",
						"type": "nvarchar"
					},
					{
						"name": "NCHAR_VALUE2",
						"type": "nvarchar"
					},
					{
						"name": "NUMERIC_VALUE1",
						"type": "decimal",
						"precision": 12,
						"scale": 6
					},
					{
						"name": "NUMERIC_VALUE2",
						"type": "decimal",
						"precision": 12,
						"scale": 6
					},
					{
						"name": "DATETIME_VALUE1",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATETIME_VALUE2",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "CDC_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "dbo.ADLS_TMPL_DATASOURCE3"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DATASOURCE2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TMPL_DATASOURCE2.csv",
						"folderPath": "source",
						"fileSystem": "adftemplate"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DATASOURCE3')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"fileName": "TMPL_DATASOURCE3.csv",
						"folderPath": "source",
						"fileSystem": "adftemplate"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					},
					{
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DIMENSION1')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "ivs_sqlpool"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "DIMENSION1_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE2_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NCHAR_ATTRIBUTE1",
						"type": "nchar"
					},
					{
						"name": "NCHAR_ATTRIBUTE2",
						"type": "nchar"
					},
					{
						"name": "DATETIME_ATTRIBUTE1",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATETIME_ATTRIBUTE2",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_CREATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_UPDATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "dbo.TMPL_DIMENSION1"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DIMENSION2')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "ivs_sqlpool"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "DIMENSION2_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE3_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "NCHAR_ATTRIBUTE1",
						"type": "nchar"
					},
					{
						"name": "NCHAR_ATTRIBUTE2",
						"type": "nchar"
					},
					{
						"name": "DATETIME_ATTRIBUTE1",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DATETIME_ATTRIBUTE2",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_CREATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_UPDATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "dbo.TMPL_DIMENSION2"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_FACT')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultSqlServer",
					"type": "LinkedServiceReference",
					"parameters": {
						"DBName": "ivs_sqlpool"
					}
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "DIMENSION1_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "DIMENSION2_KEY",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SOURCE1_ID",
						"type": "int",
						"precision": 10
					},
					{
						"name": "SRC1_MEASURE1",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC1_MEASURE2",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC2_MEASURE1",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC2_MEASURE2",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC3_MEASURE1",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC3_MEASURE2",
						"type": "decimal",
						"precision": 18,
						"scale": 4
					},
					{
						"name": "SRC1_CDC_TIMESTAMP",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_CREATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					},
					{
						"name": "DSS_UPDATE_TIME",
						"type": "datetime",
						"precision": 23,
						"scale": 3
					}
				],
				"typeProperties": {
					"tableName": "dbo.TMPL_FACT"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultSqlServer')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_STAGING')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "staging/data",
						"fileSystem": "adftemplate"
					},
					"compressionCodec": "snappy"
				},
				"schema": []
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_STAGING_KEY')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobFSLocation",
						"folderPath": "staging/key",
						"fileSystem": "adftemplate"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "SRC1_SOURCE1_ID",
						"type": "INT32"
					},
					{
						"name": "SRC1_SOURCE2_REF_ID",
						"type": "INT32"
					},
					{
						"name": "SRC1_SOURCE3_REF_ID",
						"type": "INT32"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/serverlessview')]",
			"type": "Microsoft.Synapse/workspaces/datasets",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"linkedServiceName": {
					"referenceName": "ivs_od_sqlpool",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "AzureSqlDWTable",
				"schema": [
					{
						"name": "PartyId",
						"type": "bigint",
						"precision": 19
					},
					{
						"name": "PartyName",
						"type": "varchar"
					},
					{
						"name": "PartyTypeId",
						"type": "int",
						"precision": 10
					},
					{
						"name": "GlobalLocationNumber",
						"type": "decimal",
						"precision": 13,
						"scale": 0
					},
					{
						"name": "dte",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "dbo",
					"table": "Party_delta"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs_od_sqlpool')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AdventureWorksSQL')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"description": "AdventureWorks Cosmos DB SQL API database",
				"annotations": [],
				"type": "CosmosDb",
				"typeProperties": {
					"connectionString": "[parameters('AdventureWorksSQL_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ivs-synapse-WorkspaceDefaultSqlServer')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"parameters": {
					"DBName": {
						"type": "String"
					}
				},
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ivs-synapse-WorkspaceDefaultSqlServer_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ivs-synapse-WorkspaceDefaultStorage')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureBlobFS",
				"typeProperties": {
					"url": "[parameters('ivs-synapse-WorkspaceDefaultStorage_properties_typeProperties_url')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ivs_dwh_kv')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureKeyVault",
				"typeProperties": {
					"baseUrl": "[parameters('ivs_dwh_kv_properties_typeProperties_baseUrl')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ivs_od_sqlpool')]",
			"type": "Microsoft.Synapse/workspaces/linkedServices",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDW",
				"typeProperties": {
					"connectionString": "[parameters('ivs_od_sqlpool_connectionString')]"
				},
				"connectVia": {
					"referenceName": "AutoResolveIntegrationRuntime",
					"type": "IntegrationRuntimeReference"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/integrationRuntimes/AutoResolveIntegrationRuntime')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/SchedSQLPoolPaused')]",
			"type": "Microsoft.Synapse/workspaces/triggers",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "SQLPoolPause",
							"type": "PipelineReference"
						},
						"parameters": {
							"p_subscription": "[parameters('SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_subscription')]",
							"p_resourceGroup": "[parameters('SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_resourceGroup')]",
							"p_workspace": "[parameters('SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_workspace')]",
							"p_sqlPool": "[parameters('SchedSQLPoolPaused_properties_SQLPoolPause_parameters_p_sqlPool')]"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2021-01-17T04:03:00",
						"timeZone": "Atlantic Standard Time",
						"schedule": {
							"minutes": [
								0
							],
							"hours": [
								1
							]
						}
					}
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/pipelines/SQLPoolPause')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/AutoResolveIntegrationRuntime')]",
			"type": "Microsoft.Synapse/workspaces/integrationRuntimes",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "Managed",
				"typeProperties": {
					"computeProperties": {
						"location": "AutoResolve",
						"dataFlowProperties": {
							"computeType": "General",
							"coreCount": 8,
							"timeToLive": 0
						}
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DeltaLake')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"linkedService": {
								"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"linkedService": {
								"referenceName": "ivs-synapse-WorkspaceDefaultStorage",
								"type": "LinkedServiceReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [],
					"script": "source(output(\n\t\tPartyId as long,\n\t\tPartyName as string,\n\t\tPartyTypeId as integer,\n\t\tGlobalLocationNumber as decimal(13,0)\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'delta',\n\tfileSystem: 'synapse',\n\tfolderPath: 'ivs-synapse-dldb/Party') ~> source1\nsource1 sink(allowSchemaDrift: false,\n\tvalidateSchema: false,\n\tformat: 'delta',\n\tfileSystem: 'temp',\n\tmergeSchema: false,\n\tautoCompact: false,\n\toptimizedWrite: false,\n\tvacuum: 0,\n\tdeletable:false,\n\tinsertable:true,\n\tupdateable:false,\n\tupsertable:false,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> sink1"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/linkedServices/ivs-synapse-WorkspaceDefaultStorage')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateDimension1')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Templates"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TMPL_DATASOURCE2",
								"type": "DatasetReference"
							},
							"name": "DataSource"
						},
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION1",
								"type": "DatasetReference"
							},
							"name": "Dimension"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION1",
								"type": "DatasetReference"
							},
							"name": "DimensionSink"
						}
					],
					"transformations": [
						{
							"name": "SelectDimension"
						},
						{
							"name": "LookupDimension"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "AlterRow"
						}
					],
					"script": "source(output(\n\t\tSOURCE2_ID as string,\n\t\tNCHAR_VALUE1 as string,\n\t\tNCHAR_VALUE2 as string,\n\t\tNUMERIC_VALUE1 as double,\n\t\tNUMERIC_VALUE2 as double,\n\t\tDATETIME_VALUE1 as string,\n\t\tDATETIME_VALUE2 as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DataSource\nsource(output(\n\t\tDIMENSION1_KEY as string,\n\t\tSOURCE2_ID as string,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as string,\n\t\tDATETIME_ATTRIBUTE2 as string,\n\t\tDSS_CREATE_TIME as string,\n\t\tDSS_UPDATE_TIME as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> Dimension\nDimension select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'DIMPREFIX_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDimension\nDataSource, SelectDimension lookup(SOURCE2_ID == DIMPREFIX_SOURCE2_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDimension\nLookupDimension select(mapColumn(\n\t\tDSS_CREATE_TIME = DIMPREFIX_DSS_CREATE_TIME,\n\t\teach(match(left(name,length('DIMPREFIX_'))!='DIMPREFIX_'),\n\t\t\treplace($$,'VALUE','ATTRIBUTE') = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns derive(DSS_CREATE_TIME = iif(isNull(DSS_CREATE_TIME), toString(currentTimestamp()), DSS_CREATE_TIME),\n\t\tDSS_UPDATE_TIME = toString(currentTimestamp())) ~> DerivedColumns\nDerivedColumns alterRow(upsertIf(true())) ~> AlterRow\nAlterRow sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tDIMENSION1_KEY as integer,\n\t\tSOURCE2_ID as integer,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as timestamp,\n\t\tDATETIME_ATTRIBUTE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['SOURCE2_ID'],\n\tformat: 'table',\n\tstaged: true,\n\tpreSQLs:['EXEC\t[dbo].[ZeroRow]\\n\t\t@p_tabname = N\\'TMPL_DIMENSION1\\',\\n\t\t@p_keycolname = N\\'DIMENSION1_KEY\\',\\n\t\t@p_varchar = N\\'Unknown\\',\\n\t\t@p_numeric = NULL,\\n\t\t@p_date = NULL,\\n\t\t@p_time = NULL,\\n\t\t@p_bit = NULL'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> DimensionSink"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/TMPL_DATASOURCE2')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_DIMENSION1')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateDimension2')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Templates"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TMPL_DATASOURCE3",
								"type": "DatasetReference"
							},
							"name": "DataSource"
						},
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION2",
								"type": "DatasetReference"
							},
							"name": "Dimension"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION2",
								"type": "DatasetReference"
							},
							"name": "DimensionSink"
						}
					],
					"transformations": [
						{
							"name": "SelectDimension"
						},
						{
							"name": "LookupDimension"
						},
						{
							"name": "SelectColumns"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "AlterRow"
						}
					],
					"script": "source(output(\n\t\tSOURCE3_ID as short,\n\t\tNCHAR_VALUE1 as string,\n\t\tNCHAR_VALUE2 as string,\n\t\tNUMERIC_VALUE1 as double,\n\t\tNUMERIC_VALUE2 as double,\n\t\tDATETIME_VALUE1 as string,\n\t\tDATETIME_VALUE2 as string,\n\t\tCDC_TIMESTAMP as string\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> DataSource\nsource(output(\n\t\tDIMENSION2_KEY as integer,\n\t\tSOURCE3_ID as integer,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as timestamp,\n\t\tDATETIME_ATTRIBUTE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> Dimension\nDimension select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'DIMPREFIX_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectDimension\nDataSource, SelectDimension lookup(SOURCE3_ID == DIMPREFIX_SOURCE3_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDimension\nLookupDimension select(mapColumn(\n\t\tSOURCE3_ID,\n\t\tDSS_CREATE_TIME = DIMPREFIX_DSS_CREATE_TIME,\n\t\teach(match(left(name,length('DIMPREFIX_'))!='DIMPREFIX_'),\n\t\t\treplace($$,'VALUE','ATTRIBUTE') = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectColumns\nSelectColumns derive(DSS_CREATE_TIME = iif(isNull(DSS_CREATE_TIME), currentTimestamp(), DSS_CREATE_TIME),\n\t\tDSS_UPDATE_TIME = toString(currentTimestamp())) ~> DerivedColumns\nDerivedColumns alterRow(upsertIf(true())) ~> AlterRow\nAlterRow sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tDIMENSION2_KEY as integer,\n\t\tSOURCE3_ID as integer,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as timestamp,\n\t\tDATETIME_ATTRIBUTE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['SOURCE3_ID'],\n\tformat: 'table',\n\tstaged: true,\n\tpreSQLs:['EXEC\t[dbo].[ZeroRow]\\n\t\t@p_tabname = N\\'TMPL_DIMENSION2\\',\\n\t\t@p_keycolname = N\\'DIMENSION2_KEY\\',\\n\t\t@p_varchar = N\\'Unknown\\',\\n\t\t@p_numeric = NULL,\\n\t\t@p_date = NULL,\\n\t\t@p_time = NULL,\\n\t\t@p_bit = NULL'],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> DimensionSink"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/TMPL_DATASOURCE3')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_DIMENSION2')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateFact')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Templates"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "TMPL_STAGING",
								"type": "DatasetReference"
							},
							"name": "Source"
						},
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION1",
								"type": "DatasetReference"
							},
							"name": "Dimension1"
						},
						{
							"dataset": {
								"referenceName": "TMPL_DIMENSION2",
								"type": "DatasetReference"
							},
							"name": "Dimension2"
						},
						{
							"dataset": {
								"referenceName": "TMPL_FACT",
								"type": "DatasetReference"
							},
							"name": "Fact"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TMPL_FACT",
								"type": "DatasetReference"
							},
							"name": "FactSink"
						}
					],
					"transformations": [
						{
							"name": "SelectSource"
						},
						{
							"name": "LookupDimension1"
						},
						{
							"name": "Select1"
						},
						{
							"name": "LookupDimension2"
						},
						{
							"name": "Select2"
						},
						{
							"name": "SelectFact"
						},
						{
							"name": "LookupFact"
						},
						{
							"name": "Select3"
						},
						{
							"name": "DerivedColumns"
						},
						{
							"name": "AlterRow"
						}
					],
					"script": "source(output(\n\t\tSRC1_SOURCE1_ID as integer,\n\t\tSRC1_SOURCE2_REF_ID as integer,\n\t\tSRC1_SOURCE3_REF_ID as integer,\n\t\tSRC1_NCHAR_VALUE1 as string,\n\t\tSRC1_NCHAR_VALUE2 as string,\n\t\tSRC1_NUMERIC_VALUE1 as decimal(18,4),\n\t\tSRC1_NUMERIC_VALUE2 as decimal(18,4),\n\t\tSRC1_DATETIME_VALUE1 as timestamp,\n\t\tSRC1_DATETIME_VALUE2 as timestamp,\n\t\tSRC1_CDC_TIMESTAMP as timestamp,\n\t\tSRC2_SOURCE2_ID as integer,\n\t\tSRC2_NCHAR_VALUE1 as string,\n\t\tSRC2_NCHAR_VALUE2 as string,\n\t\tSRC2_NUMERIC_VALUE1 as decimal(18,4),\n\t\tSRC2_NUMERIC_VALUE2 as decimal(18,4),\n\t\tSRC2_DATETIME_VALUE1 as timestamp,\n\t\tSRC2_DATETIME_VALUE2 as timestamp,\n\t\tSRC3_SOURCE3_ID as integer,\n\t\tSRC3_NCHAR_VALUE1 as string,\n\t\tSRC3_NCHAR_VALUE2 as string,\n\t\tSRC3_NUMERIC_VALUE1 as decimal(18,4),\n\t\tSRC3_NUMERIC_VALUE2 as decimal(18,4),\n\t\tSRC3_DATETIME_VALUE1 as timestamp,\n\t\tSRC3_DATETIME_VALUE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false,\n\tformat: 'parquet') ~> Source\nsource(output(\n\t\tDIMENSION1_KEY as integer,\n\t\tSOURCE2_ID as integer,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as timestamp,\n\t\tDATETIME_ATTRIBUTE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from TMPL_DIMENSION1 d where exists (select 1 from ADLS_TMPL_STAGING_KEY k where k.SRC1_SOURCE2_REF_ID = d.SOURCE2_ID)',\n\tformat: 'query',\n\tstaged: false) ~> Dimension1\nsource(output(\n\t\tDIMENSION2_KEY as integer,\n\t\tSOURCE3_ID as integer,\n\t\tNCHAR_ATTRIBUTE1 as string,\n\t\tNCHAR_ATTRIBUTE2 as string,\n\t\tDATETIME_ATTRIBUTE1 as timestamp,\n\t\tDATETIME_ATTRIBUTE2 as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tquery: 'select * from TMPL_DIMENSION2 d where exists (select 1 from ADLS_TMPL_STAGING_KEY k where k.SRC1_SOURCE3_REF_ID = d.SOURCE3_ID)',\n\tformat: 'query',\n\tstaged: false) ~> Dimension2\nsource(output(\n\t\tDIMENSION1_KEY as integer,\n\t\tDIMENSION2_KEY as integer,\n\t\tSOURCE1_ID as integer,\n\t\tSRC1_MEASURE1 as decimal(18,4),\n\t\tSRC1_MEASURE2 as decimal(18,4),\n\t\tSRC2_MEASURE1 as decimal(18,4),\n\t\tSRC2_MEASURE2 as decimal(18,4),\n\t\tSRC3_MEASURE1 as decimal(18,4),\n\t\tSRC3_MEASURE2 as decimal(18,4),\n\t\tSRC1_CDC_TIMESTAMP as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> Fact\nSource select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'SOURCE_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSource\nSelectSource, Dimension1 lookup(SOURCE_SRC1_SOURCE2_REF_ID == SOURCE2_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDimension1\nLookupDimension1 select(mapColumn(\n\t\teach(match(left(name,length('SOURCE_'))=='SOURCE_')),\n\t\teach(match(right(name,length('_KEY'))=='_KEY'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select1\nSelect1, Dimension2 lookup(SOURCE_SRC1_SOURCE3_REF_ID == SOURCE3_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupDimension2\nLookupDimension2 select(mapColumn(\n\t\teach(match(left(name,length('SOURCE_'))=='SOURCE_')),\n\t\teach(match(right(name,length('_KEY'))=='_KEY'))\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select2\nFact select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'FACT_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectFact\nSelect2, SelectFact lookup(SOURCE_SRC1_SOURCE1_ID == FACT_SOURCE1_ID,\n\tmultiple: false,\n\tpickup: 'any',\n\tbroadcast: 'auto')~> LookupFact\nLookupFact select(mapColumn(\n\t\tSOURCE1_ID = SOURCE_SRC1_SOURCE1_ID,\n\t\tSRC1_CDC_TIMESTAMP = SOURCE_SRC1_CDC_TIMESTAMP,\n\t\tDSS_CREATE_TIME = FACT_DSS_CREATE_TIME,\n\t\teach(match(right(name,length('_KEY'))=='_KEY'&&left(name,length('FACT_'))!='FACT_')),\n\t\teach(match(left(name,length('SOURCE_'))=='SOURCE_'&&instr(name,'NUMERIC')>0),\n\t\t\treplace(right($$,length($$)-length('SOURCE_')),'NUMERIC_VALUE','MEASURE') = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> Select3\nSelect3 derive(each(match(right(name,length('_KEY'))=='_KEY'), $$ = iifNull($$, 0)),\n\t\tDSS_CREATE_TIME = iif(isNull(DSS_CREATE_TIME), currentTimestamp(), DSS_CREATE_TIME),\n\t\tDSS_UPDATE_TIME = currentTimestamp()) ~> DerivedColumns\nDerivedColumns alterRow(upsertIf(true())) ~> AlterRow\nAlterRow sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tDIMENSION1_KEY as integer,\n\t\tDIMENSION2_KEY as integer,\n\t\tSOURCE1_ID as integer,\n\t\tSRC1_MEASURE1 as decimal(18,4),\n\t\tSRC1_MEASURE2 as decimal(18,4),\n\t\tSRC2_MEASURE1 as decimal(18,4),\n\t\tSRC2_MEASURE2 as decimal(18,4),\n\t\tSRC3_MEASURE1 as decimal(18,4),\n\t\tSRC3_MEASURE2 as decimal(18,4),\n\t\tSRC1_CDC_TIMESTAMP as timestamp,\n\t\tDSS_CREATE_TIME as timestamp,\n\t\tDSS_UPDATE_TIME as timestamp\n\t),\n\tdeletable:false,\n\tinsertable:false,\n\tupdateable:false,\n\tupsertable:true,\n\tkeys:['SOURCE1_ID'],\n\tformat: 'table',\n\tstaged: true,\n\tallowCopyCommand: true,\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\terrorHandlingOption: 'stopOnFirstError') ~> FactSink"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/TMPL_STAGING')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_DIMENSION1')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_DIMENSION2')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_FACT')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TemplateIncrementalStaging')]",
			"type": "Microsoft.Synapse/workspaces/dataflows",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"folder": {
					"name": "Templates"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "ADLS_TMPL_DATASOURCE1",
								"type": "DatasetReference"
							},
							"name": "MainSource"
						},
						{
							"dataset": {
								"referenceName": "TMPL_DATASOURCE2",
								"type": "DatasetReference"
							},
							"name": "SlaveSource2"
						},
						{
							"dataset": {
								"referenceName": "ADLS_TMPL_DATASOURCE3",
								"type": "DatasetReference"
							},
							"name": "SlaveSource3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "TMPL_STAGING",
								"type": "DatasetReference"
							},
							"name": "SinkStaging"
						},
						{
							"dataset": {
								"referenceName": "TMPL_STAGING_KEY",
								"type": "DatasetReference"
							},
							"name": "SinkStagingKey"
						}
					],
					"transformations": [
						{
							"name": "SelectMain"
						},
						{
							"name": "SelectSource2"
						},
						{
							"name": "SelectSource3"
						},
						{
							"name": "JoinSource2"
						},
						{
							"name": "JoinSource3"
						},
						{
							"name": "DerivedColumns"
						}
					],
					"script": "parameters{\n\tp_latest_datetime as string ('1900-01-01 00:00:000'),\n\tp_main_source as string ('ADLS_TMPL_DATASOURCE1'),\n\tp_cdc_column as string ('CDC_TIMESTAMP')\n}\nsource(output(\n\t\tSOURCE1_ID as integer,\n\t\tSOURCE2_REF_ID as integer,\n\t\tSOURCE3_REF_ID as integer,\n\t\tNCHAR_VALUE1 as string,\n\t\tNCHAR_VALUE2 as string,\n\t\tNUMERIC_VALUE1 as decimal(12,6),\n\t\tNUMERIC_VALUE2 as decimal(12,6),\n\t\tDATETIME_VALUE1 as timestamp,\n\t\tDATETIME_VALUE2 as timestamp,\n\t\tCDC_TIMESTAMP as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> MainSource\nsource(output(\n\t\tSOURCE2_ID as integer,\n\t\tNCHAR_VALUE1 as string,\n\t\tNCHAR_VALUE2 as string,\n\t\tNUMERIC_VALUE1 as decimal(18,4),\n\t\tNUMERIC_VALUE2 as decimal(18,4),\n\t\tDATETIME_VALUE1 as timestamp,\n\t\tDATETIME_VALUE2 as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tignoreNoFilesFound: false) ~> SlaveSource2\nsource(output(\n\t\tSOURCE3_ID as integer,\n\t\tNCHAR_VALUE1 as string,\n\t\tNCHAR_VALUE2 as string,\n\t\tNUMERIC_VALUE1 as decimal(12,6),\n\t\tNUMERIC_VALUE2 as decimal(12,6),\n\t\tDATETIME_VALUE1 as timestamp,\n\t\tDATETIME_VALUE2 as timestamp,\n\t\tCDC_TIMESTAMP as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tisolationLevel: 'READ_UNCOMMITTED',\n\tformat: 'table',\n\tstaged: false) ~> SlaveSource3\nMainSource select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'SRC1_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectMain\nSlaveSource2 select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'SRC2_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSource2\nSlaveSource3 select(mapColumn(\n\t\teach(match(true()),\n\t\t\t'SRC3_'+$$ = $$)\n\t),\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SelectSource3\nSelectMain, SelectSource2 join(SRC1_SOURCE2_REF_ID == SRC2_SOURCE2_ID,\n\tjoinType:'left',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'auto')~> JoinSource2\nJoinSource2, SelectSource3 join(SRC1_SOURCE3_REF_ID == SRC3_SOURCE3_ID,\n\tjoinType:'left',\n\tmatchType:'exact',\n\tignoreSpaces: false,\n\tbroadcast: 'auto')~> JoinSource3\nJoinSource3 derive(DSS_CREATE_TIME = currentTimestamp()) ~> DerivedColumns\nDerivedColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tformat: 'parquet',\n\ttruncate: true,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true) ~> SinkStaging\nDerivedColumns sink(allowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinput(\n\t\tSRC1_SOURCE1_ID as integer,\n\t\tSRC1_SOURCE2_REF_ID as integer,\n\t\tSRC1_SOURCE3_REF_ID as integer\n\t),\n\tformat: 'parquet',\n\ttruncate: true,\n\tumask: 0022,\n\tpreCommands: [],\n\tpostCommands: [],\n\tskipDuplicateMapInputs: true,\n\tskipDuplicateMapOutputs: true,\n\tmapColumn(\n\t\tSRC1_SOURCE1_ID,\n\t\tSRC1_SOURCE2_REF_ID,\n\t\tSRC1_SOURCE3_REF_ID\n\t)) ~> SinkStagingKey"
				}
			},
			"dependsOn": [
				"[concat(variables('workspaceId'), '/datasets/ADLS_TMPL_DATASOURCE1')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_DATASOURCE2')]",
				"[concat(variables('workspaceId'), '/datasets/ADLS_TMPL_DATASOURCE3')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_STAGING')]",
				"[concat(variables('workspaceId'), '/datasets/TMPL_STAGING_KEY')]"
			]
		},
		{
			"name": "[concat(parameters('workspaceName'), '/WorkspaceSystemIdentity')]",
			"type": "Microsoft.Synapse/workspaces/credentials",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"type": "ManagedIdentity",
				"typeProperties": {}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS_TMPL_DATASOURCE1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE EXTERNAL TABLE [dbo].[ADLS_TMPL_DATASOURCE1] \n(  \n\t [SOURCE1_ID] INT NULL,\n\t [SOURCE2_REF_ID] INT NULL,\n\t [SOURCE3_REF_ID] INT NULL,\n\t [NCHAR_VALUE1] NVARCHAR(255) NULL,\n\t [NCHAR_VALUE2] NVARCHAR(255) NULL,\n\t [NUMERIC_VALUE1] NUMERIC(12,6) NULL,\n\t [NUMERIC_VALUE2] NUMERIC(12,6) NULL,\n\t [DATETIME_VALUE1] DATETIME NULL,\n\t [DATETIME_VALUE2] DATETIME NULL,\n\t [CDC_TIMESTAMP] DATETIME NULL\n)\nWITH  \n(  \n\tLOCATION = '/source/TMPL_DATASOURCE1.csv',  \n\tDATA_SOURCE = TMPL_ExtDSrc_ivsdatastorage ,\n    FILE_FORMAT = TMPL_DelimTextCsv\n) \n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS_TMPL_DATASOURCE3')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE EXTERNAL TABLE [dbo].[ADLS_TMPL_DATASOURCE3] \n(  \n\t [SOURCE3_ID] INT NULL,\n\t [NCHAR_VALUE1] NVARCHAR(255) NULL,\n\t [NCHAR_VALUE2] NVARCHAR(255) NULL,\n\t [NUMERIC_VALUE1] NUMERIC(12,6) NULL,\n\t [NUMERIC_VALUE2] NUMERIC(12,6) NULL,\n\t [DATETIME_VALUE1] DATETIME NULL,\n\t [DATETIME_VALUE2] DATETIME NULL,\n\t [CDC_TIMESTAMP] DATETIME NULL\n)\nWITH  \n(  \n\tLOCATION = '/source/TMPL_DATASOURCE3.csv',  \n\tDATA_SOURCE = TMPL_ExtDSrc_ivsdatastorage ,\n    FILE_FORMAT = TMPL_DelimTextCsv\n) ",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ADLS_TMPL_STAGING_KEY')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE EXTERNAL TABLE [dbo].[ADLS_TMPL_STAGING_KEY] \n(  \n\t [SRC1_SOURCE1_ID] INT NULL,\n\t [SRC1_SOURCE2_REF_ID] INT NULL,\n\t [SRC1_SOURCE3_REF_ID] INT NULL\n)\nWITH  \n(  \n\tLOCATION = 'staging/key',  \n\tDATA_SOURCE = TMPL_ExtDSrc_ivsdatastorage ,\n    FILE_FORMAT = TMPL_ParquetSnappy\n) \n\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CosmosSQL')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE CREDENTIAL [cosmos_ivsaccount]\n WITH IDENTITY = 'SHARED ACCESS SIGNATURE',\n SECRET = 'exU9Lv....................................=='\n GO\n\nSELECT TOP 100 *\nFROM OPENROWSET(PROVIDER = 'CosmosDB',\n                CONNECTION = 'Account=ivsaccount;Database=AdventureWorks',\n                OBJECT = 'Sales',\n                SERVER_CREDENTIAL = 'cosmos_ivsaccount'\n) AS [Sales]\n\n\n SELECT orderdate,\n        COUNT(id) AS ordercount\n FROM OPENROWSET(PROVIDER = 'CosmosDB',\n                 CONNECTION = 'Account=ivsaccount;Database=AdventureWorks',\n                 OBJECT = 'Sales',\n                 SERVER_CREDENTIAL = 'cosmos_ivsaccount'\n ) AS [Sales]\n GROUP BY orderdate\n ORDER BY orderdate;",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs-synapse-dldb",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DeltaLake')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "SELECT TOP 10 *\nFROM OPENROWSET(\n    BULK 'https://ivsdatastorage.blob.core.windows.net/synapse/ivs-synapse-dldb/Party/',\n    FORMAT = 'delta') as rows;\n\nCREATE OR ALTER VIEW dbo.Party_delta AS\nSELECT * FROM\nOPENROWSET( BULK 'https://ivsdatastorage.blob.core.windows.net/synapse/ivs-synapse-dldb/Party/', \nFORMAT = 'delta') as r\n\nselect * from dbo.Party_delta",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_od_sqlpool",
						"poolName": "Built-in"
					},
					"resultLimit": 5000
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DIMENSION1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE TABLE [dbo].[TMPL_DIMENSION1]\n(\n    [DIMENSION1_KEY] [int] IDENTITY(1,1) NOT NULL,\n\t[SOURCE2_ID] [int] NOT NULL,\n\t[NCHAR_ATTRIBUTE1] [nchar](20) NULL,\n\t[NCHAR_ATTRIBUTE2] [nchar](20) NULL,\n\t[DATETIME_ATTRIBUTE1] [datetime] NULL,\n\t[DATETIME_ATTRIBUTE2] [datetime] NULL,\n\t[DSS_CREATE_TIME] [datetime] NULL,\n\t[DSS_UPDATE_TIME] [datetime] NULL\n)\nWITH\n(\n    DISTRIBUTION = REPLICATE,\n    CLUSTERED COLUMNSTORE INDEX\n)\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DIMENSION2')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE TABLE [dbo].[Table]\n(\n    col1 int NOT NULL\n)\nWITH\n(\n    DISTRIBUTION = HASH (col1),\n    CLUSTERED COLUMNSTORE INDEX\n)\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"name": "ivs_sqlpool",
						"type": "SqlCompute"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_DelimTextCsv')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE EXTERNAL FILE FORMAT [TMPL_DelimTextCsv] WITH \n(  \n\tFORMAT_TYPE = DELIMITEDTEXT,\n\tFORMAT_OPTIONS(\n          FIELD_TERMINATOR = ',',\n          STRING_DELIMITER = '\"',\n          FIRST_ROW = 2, \n          USE_TYPE_DEFAULT = False)\n)",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_ExtDSrc_ivsdatastorage')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "--CREATE MASTER KEY ENCRYPTION BY PASSWORD = '<password>' ;\n\n--CREATE DATABASE SCOPED CREDENTIAL ADLS_credential\n--WITH\n-- IDENTITY = '<storage_account_name>' ,\n-- SECRET = '<storage_account_key>';\n\nCREATE EXTERNAL DATA SOURCE TMPL_ExtDSrc_ivsdatastorage\nWITH\n  ( LOCATION = 'wasbs://adftemplate@ivsdatastorage.blob.core.windows.net',\n    CREDENTIAL = ADLS_credential,\n    TYPE = HADOOP\n  );",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_FACT')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE TABLE [dbo].[TMPL_FACT]\n(\n    [DIMENSION1_KEY] [int] NOT NULL,\n\t[DIMENSION2_KEY] [int] NOT NULL,\n\t[SOURCE1_ID] [int] NOT NULL,\n\t[SRC1_MEASURE1] [decimal](18, 4) NULL,\n\t[SRC1_MEASURE2] [decimal](18, 4) NULL,\n\t[SRC2_MEASURE1] [decimal](18, 4) NULL,\n\t[SRC2_MEASURE2] [decimal](18, 4) NULL,\n\t[SRC3_MEASURE1] [decimal](18, 4) NULL,\n\t[SRC3_MEASURE2] [decimal](18, 4) NULL,\n\t[SRC1_CDC_TIMESTAMP] [datetime] NULL,\n\t[DSS_CREATE_TIME] [datetime] NULL,\n\t[DSS_UPDATE_TIME] [datetime] NULL\n)\nWITH\n(\n    DISTRIBUTION = HASH (SOURCE1_ID),\n    CLUSTERED COLUMNSTORE INDEX\n)\nGO\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/TMPL_ParquetSnappy')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE EXTERNAL FILE FORMAT [TMPL_ParquetSnappy] WITH \n(  \n    FORMAT_TYPE = PARQUET,  \n    DATA_COMPRESSION = 'org.apache.hadoop.io.compress.SnappyCodec'\n)",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/VTMPL_DATASOURCE1')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE VIEW VTMPL_DATASOURCE1 AS\nSELECT *\nFROM OPENROWSET\n  (\n      BULK 'https://ivsdatastorage.blob.core.windows.net/adftemplate/source/TMPL_DATASOURCE1.csv',\n      FORMAT = 'CSV', PARSER_VERSION = '2.0', FIRSTROW = 2\n  )\n  WITH ( SOURCE1_ID integer,\n  \t  SOURCE2_REF_ID integer,\t\n      SOURCE3_REF_ID integer,\t\n      NCHAR_VALUE1 varchar (50),\n      NCHAR_VALUE2 varchar (50),\t\n      NUMERIC_VALUE1 varchar (50),\t\n      NUMERIC_VALUE2 varchar (50),\t\n      DATETIME_VALUE1 varchar (50),\n      DATETIME_VALUE2 varchar (50),\n      CDC_TIMESTAMP varchar (50)\n) AS r",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_od_sqlpool",
						"poolName": "Built-in"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ZeroRow')]",
			"type": "Microsoft.Synapse/workspaces/sqlscripts",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"content": {
					"query": "CREATE PROC [dbo].[ZeroRow]\n\t@p_tabname [varchar](255),\n\t@p_keycolname [varchar](255),\n\t@p_varchar [varchar](255),\n\t@p_numeric [tinyint],\n\t@p_date [date],\n\t@p_time [time],\n\t@p_bit [bit] \n\t\nAS\n\nDECLARE\n\t@v_return_status integer,\n\t@v_count bit = 0,\n\t@v_column_name varchar(255),\n\t@v_data_type varchar(255),\n\t@v_character_maximum_length integer,\n\t@v_is_nullable varchar(3),\n\t@v_notnull_conv varchar(255),\n\t@v_ins_sql_top varchar(max),\n\t@v_ins_sql_bottom varchar(max),\n\t@v_upd_sql varchar(max),\n\t@v_ctrl_sql nvarchar(max) = '',\n\t@v_sql nvarchar(max) = '',\n\t@v_sql_param nvarchar(max) = ''\n\nBEGIN\n    CREATE TABLE #tbl\n\tWITH\n\t( DISTRIBUTION = ROUND_ROBIN\n\t)\n\tAS\n\tselect \n\tROW_NUMBER() OVER(ORDER BY ordinal_position) AS sequence,\n\tcolumn_name,\n\tis_nullable,\n\tdata_type,\n\tcharacter_maximum_length\n\tfrom information_schema.columns\n\twhere table_name = @p_tabname\n\n\tDECLARE @v_loop_limit int = (SELECT COUNT(*) FROM #tbl)\n\t,       @v_i int = 1\n\n\tSET @v_ins_sql_top = '('\n\tSET @v_ins_sql_bottom = '('\n\tSET @v_upd_sql = ''\n\tSET @v_sql_param = N'@v_column_name varchar(255) OUTPUT, ' +\n\t\t\t\t\tN'@v_is_nullable varchar(3) OUTPUT, ' +\n\t\t\t\t\tN'@v_data_type varchar(255) OUTPUT, ' +\n\t\t\t\t\tN'@v_character_maximum_length integer OUTPUT'\n\n\tWHILE @v_i <= @v_loop_limit\n\t  BEGIN\n\n\t\tSET @v_sql = N'SELECT @v_column_name = column_name, ' +\n\t\t\tN'@v_is_nullable = is_nullable, ' +\n\t\t\tN'@v_data_type = data_type, ' +\n\t\t\tN'@v_character_maximum_length = character_maximum_length FROM #tbl WHERE sequence = ' + CAST(@v_i as nvarchar(20))\n\n\t\tEXECUTE sp_executesql @v_sql, @v_sql_param, \n\t\t\t\t\t\t\t\t@v_column_name OUTPUT, \n\t\t\t\t\t\t\t\t@v_is_nullable OUTPUT,\n\t\t\t\t\t\t\t\t@v_data_type OUTPUT, \n\t\t\t\t\t\t\t\t@v_character_maximum_length OUTPUT\n\n\t\tSET @v_ins_sql_top = @v_ins_sql_top + @v_column_name + char(13) + ', '\n\n\t\tIF (@v_data_type = 'char' or @v_data_type = 'varchar' \n\t\tor @v_data_type = 'text' or @v_data_type = 'nchar' \n\t\tor @v_data_type = 'nvarchar' or @v_data_type = 'ntext')\n\t\t\tBEGIN\n\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + char(39) + LEFT(@p_varchar, @v_character_maximum_length) + char(39) + char(13) + ', '\n\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + char(39) + LEFT(@p_varchar, @v_character_maximum_length) + char(39) + char(13) + ', '\n\t\t\tEND\n\t\tELSE\n\t\t\tIF (@v_data_type = 'date' or @v_data_type = 'datetime' \n\t\t\tor @v_data_type = 'datetime2' or @v_data_type = 'datetimeoffset' \n\t\t\tor @v_data_type = 'smalldatetime') \n\t\t\tand (try_cast(@p_date as date) is not null \n\t\t\tor @v_column_name = 'DSS_UPDATE_TIME' or @v_column_name = 'DSS_CREATE_TIME')\n\t\t\t\tBEGIN\n\t\t\t\t\tIF @v_column_name = 'DSS_UPDATE_TIME'\n\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + char(39) + CONVERT(varchar, getdate(), 121) + char(39) + char(13) + ', '\n\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + char(39) + CONVERT(varchar, getdate(), 121) + char(39) + char(13) + ', '\n\t\t\t\t\t\tEND\n\t\t\t\t\tELSE\n\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\tIF @v_column_name = 'DSS_CREATE_TIME'\n\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + char(39) + CONVERT(varchar, getdate(), 121) + char(39) + char(13) + ', '\n\t\t\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = COALESCE(DSS_CREATE_TIME, getdate())' + char(13) + ', '\n\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\t\tELSE\n\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + char(39) + cast(@p_date as varchar) + char(39) + char(13) + ', '\n\t\t\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + char(39) + cast(@p_date as varchar) + char(39) + char(13) + ', '\n\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\tEND\n\t\t\t\tEND\n\t\t\tELSE\n\t\t\t\tIF @v_data_type = 'time' and try_cast(@p_time as time) is not null\n\t\t\t\t\tBEGIN\n\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + char(39) + cast(@p_time as varchar) + char(39) + char(13) + ', '\n\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + char(39) + cast(@p_time as varchar) + char(39) + char(13) + ', '\n\t\t\t\t\tEND\n\t\t\t\tELSE\n\t\t\t\t\tIF (@v_data_type = 'bigint' or @v_data_type = 'numeric' \n\t\t\t\t\tor @v_data_type = 'smallint' or @v_data_type = 'decimal' \n\t\t\t\t\tor @v_data_type = 'smallmoney' or @v_data_type = 'int'\n\t\t\t\t\tor @v_data_type = 'tinyint' or @v_data_type = 'money'\n\t\t\t\t\tor @v_data_type = 'float' or @v_data_type = 'real') \n\t\t\t\t\tand try_cast(@p_numeric as tinyint) is not null\n\t\t\t\t\tand UPPER(@v_column_name) <> UPPER(@p_keycolname)\n\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + cast(@p_numeric as varchar) + char(13) + ', '\n\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + cast(@p_numeric as varchar) + char(13) + ', '\n\t\t\t\t\t\tEND\n\t\t\t\t\tELSE\n\t\t\t\t\t\tIF @v_data_type = 'bit' and try_cast(@p_bit as bit) is not null\n\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + cast(@p_bit as varchar) + char(13) + ', '\n\t\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + cast(@p_bit as varchar) + char(13) + ', '\n\t\t\t\t\t\t\tEND\n\t\t\t\t\t\tELSE\n\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\tIF UPPER(@v_column_name) = @p_keycolname\n\t\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom = @v_ins_sql_bottom + '0' + char(13) + ', '\n\t\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\t\t\tELSE\n\t\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\t\tIF @v_is_nullable = 'YES'\n\t\t\t\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom  = @v_ins_sql_bottom + 'NULL' + char(13) + ', '\n\t\t\t\t\t\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + 'NULL' + char(13) + ', '\n\t\t\t\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\t\t\t\t\tELSE\n\t\t\t\t\t\t\t\t\t\t\tBEGIN\n\t\t\t\t\t\t\t\t\t\t\t\tSET @v_ctrl_sql = N'select @v_val_conv = cast('+ char(39) + char(39) + ' as ' + @v_data_type + N')'\n\t\t\t\t\t\t\t\t\t\t\t\tEXECUTE sp_executesql @v_ctrl_sql, N'@v_val_conv varchar(255) OUTPUT', @v_notnull_conv OUTPUT\n\t\t\t\t\t\t\t\t\t\t\t\tSET @v_ins_sql_bottom  = @v_ins_sql_bottom + @v_notnull_conv + char(13) + ', '\n\t\t\t\t\t\t\t\t\t\t\t\tSET @v_upd_sql = @v_upd_sql + @v_column_name + ' = ' + char(39) + @v_notnull_conv + char(39) + char(13) + ', '\n\t\t\t\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\t\t\t\tEND\n\t\t\t\t\t\t\tEND\n\n\t\tSET @v_i += 1\n\n\t  END\n\n\tSET @v_ins_sql_top = LEFT(@v_ins_sql_top, LEN(@v_ins_sql_top) - 2) + ')'\n\tSET @v_ins_sql_bottom = LEFT(@v_ins_sql_bottom, LEN(@v_ins_sql_bottom) - 2) + ')'\n\tSET @v_upd_sql = LEFT(@v_upd_sql, LEN(@v_upd_sql) - 2)\n\n\tSET @v_ctrl_sql = N'SELECT @v_count_out = 1 FROM ' + @p_tabname + N' WHERE ' + @p_keycolname + N' = 0'\n\n\tEXECUTE sp_executesql @v_ctrl_sql, N'@v_count_out bit OUTPUT', @v_count OUTPUT\n\n\tSET @v_sql = N'BEGIN' + char(13) + char(13)\n\n\tIF @v_count = 0\n\t\tBEGIN\n\t\t\tSET @v_sql = @v_sql + N'SET IDENTITY_INSERT ' + @p_tabname + N' ON' + char(13) + char(13)\n\t\t\tSET @v_sql = @v_sql + N'INSERT INTO ' + @p_tabname + char(13) + @v_ins_sql_top + char(13)\n\t\t\tSET @v_sql = @v_sql + N'VALUES ' + @v_ins_sql_bottom + char(13) + char(13)\n\t\t\tSET @v_sql = @v_sql + N'SET IDENTITY_INSERT ' + @p_tabname + N' OFF' + char(13) + char(13)\n\t\tEND\n\n\tIF @v_count = 1\n\t\tBEGIN\n\t\t\tSET @v_sql = @v_sql + N'UPDATE ' + @p_tabname + char(13) + N'SET' + char(13) + @v_upd_sql + char(13)\n\t\t\tSET @v_sql = @v_sql + N'WHERE ' + @p_keycolname + N' = 0' + char(13) + char(13)\n\t\tEND\n\n\tSET @v_sql = @v_sql + N'END'\n\n\tEXECUTE sp_executesql @v_sql\n\n\tDROP TABLE #tbl\nEND\n",
					"metadata": {
						"language": "sql"
					},
					"currentConnection": {
						"databaseName": "ivs_sqlpool",
						"poolName": "ivs_sqlpool"
					}
				},
				"type": "SqlQuery"
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ApacheSparkPool')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "4ca85c32-02f2-4a9d-a9aa-f9e4bbaadba8"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Create array from script"
						]
					},
					{
						"cell_type": "code",
						"source": [
							"new_rows = [('CA',22, 45000),(\"WA\",35,65000) ,(\"WA\",50,85000)]\r\n",
							"demo_df = spark.createDataFrame(new_rows, ['state', 'age', 'salary'])\r\n",
							"demo_df.show()"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Create a Spark table, a CSV, and a Parquet file all with copies of the data"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"demo_df.createOrReplaceTempView('demo_df')\r\n",
							"demo_df.write.csv('demo_df', mode='overwrite')\r\n",
							"demo_df.write.parquet('abfss://spark@ivsdatastorage.dfs.core.windows.net/demo_df', mode='overwrite')"
						],
						"outputs": [],
						"execution_count": 5
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"List the tables on the pool"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"SHOW TABLES"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"See the data in demo_df"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false,
							"tags": []
						},
						"source": [
							"%%sql\r\n",
							"SELECT * from demo_df"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Read a CSV from Azure Data Lake Store Gen2"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"tags": []
						},
						"source": [
							"from pyspark.sql import SparkSession\r\n",
							"from pyspark.sql.types import *\r\n",
							"account_name = \"ivsdatastorage\"\r\n",
							"container_name = \"adftemplate\"\r\n",
							"relative_path = \"source\"\r\n",
							"adls_path = 'abfss://%s@%s.dfs.core.windows.net/%s' % (container_name, account_name, relative_path)\r\n",
							"\r\n",
							"df1 = spark.read.option('header', 'true') \\\r\n",
							"                .option('delimiter', ',') \\\r\n",
							"                .csv(adls_path + '/TMPL_DATASOURCE3.csv')\r\n",
							"\r\n",
							"df1.show()\r\n",
							"\r\n",
							"df1.createOrReplaceTempView('df1')"
						],
						"outputs": [],
						"execution_count": null
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/BloombergToken')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "f870b825-e443-4655-a8d3-29f08746c0c8"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28,
						"automaticScaleJobs": false
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {},
						"source": [
							"import uuid\r\n",
							"import binascii\r\n",
							"import time\r\n",
							"import jwt\r\n",
							"from urllib.parse import urlparse"
						],
						"outputs": [],
						"execution_count": 1
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"CLIENT_ID = TokenLibrary.getSecret('ivs-dwh-kv', 'BloombergClientId')\r\n",
							"CLIENT_SECRET = TokenLibrary.getSecret('ivs-dwh-kv', 'BloombergSecret')\r\n",
							"\r\n",
							"IAT = int(time.time())\r\n",
							"JWT_EXPIRATION = 60\r\n",
							"REGION = \"default\"\r\n",
							"URL = \"https://api.bloomberg.com/eap/catalogs/\"\r\n",
							"METHOD = \"GET\"\r\n",
							"\r\n",
							"parsed_uri = urlparse(URL)\r\n",
							"PATH = parsed_uri.path\r\n",
							"HOST = parsed_uri.hostname"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"jwt_string = jwt.encode({\r\n",
							"'iss': CLIENT_ID,\r\n",
							"'iat': IAT,\r\n",
							"'nbf': IAT,\r\n",
							"'exp': IAT + JWT_EXPIRATION,\r\n",
							"'region': REGION,\r\n",
							"'path': PATH,\r\n",
							"'method': METHOD,\r\n",
							"'host': HOST,\r\n",
							"'jti': str(uuid.uuid4()),\r\n",
							"}, binascii.unhexlify(CLIENT_SECRET), algorithm=\"HS256\")\r\n",
							"\r\n",
							"TokenLibrary.putSecret('ivs-dwh-kv', 'BloombergToken', jwt_string)\r\n",
							"\r\n",
							"print(jwt_string)"
						],
						"outputs": [],
						"execution_count": 3
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/CosmosNotebook')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "52687ac9-815a-4bf5-b2ac-0723f52bed46"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"collapsed": false
						},
						"source": [
							"# Read from Cosmos DB analytical store into a Spark DataFrame and display 10 rows from the DataFrame\n",
							"# To select a preferred list of regions in a multi-region Cosmos DB account, add .option(\"spark.cosmos.preferredRegions\", \"<Region1>,<Region2>\")\n",
							"\n",
							"df = spark.read\\\n",
							"    .format(\"cosmos.olap\")\\\n",
							"    .option(\"spark.synapse.linkedService\", \"AdventureWorksSQL\")\\\n",
							"    .option(\"spark.cosmos.container\", \"Sales\")\\\n",
							"    .load()\n",
							"\n",
							"display(df.limit(10))"
						],
						"outputs": [],
						"execution_count": 1
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DP203Certification')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "7884fb01-59e9-4b88-99bd-1ea2b5386fc1"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"microsoft": {
								"language": "python"
							},
							"collapsed": false
						},
						"source": [
							"%%pyspark\r\n",
							"df = spark.read.load('abfss://spark@ivsdatastorage.dfs.core.windows.net/products.csv',\r\n",
							"    format='csv',\r\n",
							"    header=True\r\n",
							")\r\n",
							"display(df.limit(10))"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"from pyspark.sql.types import *\r\n",
							"from pyspark.sql.functions import *\r\n",
							"\r\n",
							"productSchema = StructType([\r\n",
							"    StructField(\"ProductID\", IntegerType()),\r\n",
							"    StructField(\"ProductName\", StringType()),\r\n",
							"    StructField(\"Category\", StringType()),\r\n",
							"    StructField(\"ListPrice\", FloatType())\r\n",
							"    ])\r\n",
							"\r\n",
							"df = spark.read.load('abfss://spark@ivsdatastorage.dfs.core.windows.net/products.csv',\r\n",
							"    format='csv',\r\n",
							"    schema=productSchema,\r\n",
							"    header=False)\r\n",
							"\r\n",
							"df.createOrReplaceTempView(\"products\")\r\n",
							"\r\n",
							""
						],
						"outputs": [],
						"execution_count": 10
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"\r\n",
							"SELECT Category, COUNT(ProductID) AS ProductCount\r\n",
							"FROM products\r\n",
							"GROUP BY Category\r\n",
							"ORDER BY Category"
						],
						"outputs": [],
						"execution_count": 12
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/DimAllTime')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "f03486a3-4e98-4a92-bbaa-56b5d40e9192"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Read csvs and create temp views"
						]
					},
					{
						"cell_type": "code",
						"source": [
							"fiscal_year = spark.read.csv('abfss://spark@ivsdatastorage.dfs.core.windows.net/source/FiscalYear.csv', \r\n",
							"    header = True)\r\n",
							"\r\n",
							"fiscal_year.createOrReplaceTempView('fy_view')\r\n",
							"\r\n",
							"fiscal_period = spark.read.csv('abfss://spark@ivsdatastorage.dfs.core.windows.net/source/FiscalPeriod.csv', \r\n",
							"    header = True)\r\n",
							"\r\n",
							"fiscal_period.createOrReplaceTempView('fp_view')\r\n",
							""
						],
						"outputs": [],
						"execution_count": 1
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Create merged dataframe from temporary views"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"df_stg = spark.sql(\"SELECT concat(CALENDAR, ',YEAR,', FISCALYEAR) DIM_ALL_TIME_ID, \" +\r\n",
							"    \"'YEAR' GRAIN_LEVEL, \"+\r\n",
							"    \"CALENDAR, \" +\r\n",
							"    \"FISCALYEAR, \" +\r\n",
							"    \"CAST(STARTDATE as timestamp) STARTDATE, \" +\r\n",
							"    \"CAST(ENDDATE as timestamp) ENDDATE, \" +\r\n",
							"    \"NULL CALENDARTYPE, \" +\r\n",
							"    \"NULL QUARTER, \" +\r\n",
							"    \"NULL MONTH, \" +\r\n",
							"    \"NULL PERIODNAME, \" +\r\n",
							"    \"NULL SHORTNAME, \" +\r\n",
							"    \"NULL TYPE, \" +\r\n",
							"    \"NULL DAYS, \" +\r\n",
							"    \"NULL PERIODNUMBER \" +\r\n",
							"    \"FROM fy_view \" +\r\n",
							"    \"UNION \" +\r\n",
							"    \"SELECT concat(CALENDAR, ',PERIOD,', FISCALYEAR, ',', replace(PERIODNAME, 'Period ', '')) DIM_ALL_TIME_ID, \" +\r\n",
							"    \"'PERIOD' GRAIN_LEVEL, \" +\r\n",
							"    \"CALENDAR, \" +\r\n",
							"    \"FISCALYEAR, \" +\r\n",
							"    \"CAST(STARTDATE as timestamp) STARTDATE, \" +\r\n",
							"    \"CAST(ENDDATE as timestamp) ENDDATE, \" +\r\n",
							"    \"CALENDARTYPE, \" +\r\n",
							"    \"QUARTER, \" +\r\n",
							"    \"MONTH, \" +\r\n",
							"    \"PERIODNAME, \" +\r\n",
							"    \"SHORTNAME, \" +\r\n",
							"    \"TYPE, \" +\r\n",
							"    \"DAYS, \" +\r\n",
							"    \"cast(replace(PERIODNAME, 'Period ', '') as int) PERIODNUMBER \" +\r\n",
							"    \"FROM fp_view \" +\r\n",
							"    \"WHERE TYPE = 1\")\r\n",
							"\r\n",
							"df_stg.show()"
						],
						"outputs": [],
						"execution_count": 2
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Add gregorian years and months"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"collapsed": false
						},
						"source": [
							"from pyspark.sql.functions import lit\r\n",
							"\r\n",
							"df_stg = df_stg.select(['DIM_ALL_TIME_ID','GRAIN_LEVEL','CALENDAR','FISCALYEAR','STARTDATE','ENDDATE',\r\n",
							"    'CALENDARTYPE','QUARTER','MONTH','PERIODNAME','SHORTNAME','TYPE','DAYS','PERIODNUMBER', \r\n",
							"    lit(None).cast('integer').alias('CALYEAR'), \r\n",
							"    lit(None).cast('string').alias('CALMONTH'), \r\n",
							"    lit(None).cast('integer').alias('CALMONTH_NUM'), \r\n",
							"    lit(None).cast('integer').alias('CLOSEDMONTH')])\r\n",
							"\r\n",
							"from datetime import date\r\n",
							"from calendar import monthrange\r\n",
							"\r\n",
							"for row in df_stg.where(\"CALENDAR = 'Fiscal' and GRAIN_LEVEL = 'YEAR'\").collect():\r\n",
							"    newrow = spark.createDataFrame([('Gegorian,YEAR,' + row['FISCALYEAR'], 'YEAR', 'Gregorian', row['FISCALYEAR'], row['FISCALYEAR'] + '-01-01', row['FISCALYEAR'] + '-12-31')],\r\n",
							"        ['DIM_ALL_TIME_ID', 'GRAIN_LEVEL', 'CALENDAR', 'CALYEAR', 'STARTDATE', 'ENDDATE'])\r\n",
							"    df_stg = df_stg.unionByName(newrow, allowMissingColumns=True)\r\n",
							"    for i in range(1, 13):\r\n",
							"        newrow = spark.createDataFrame([('Gegorian,MONTH,' + row['FISCALYEAR'] + f'{i:02}', 'MONTH', 'Gregorian', \r\n",
							"            row['FISCALYEAR'], row['FISCALYEAR'] + '-' + f'{i:02}' + '-01', \r\n",
							"            row['FISCALYEAR'] + '-' + f'{i:02}' + '-' + str(monthrange(int(row['FISCALYEAR']), i)[1]),\r\n",
							"            f'{i:02}', i, \r\n",
							"            1 if row['FISCALYEAR'] + '-' + f'{i:02}' + '-' + str(monthrange(int(row['FISCALYEAR']), i)[1]) < str(date.today()) else 0)],\r\n",
							"            ['DIM_ALL_TIME_ID', 'GRAIN_LEVEL', 'CALENDAR', 'CALYEAR', 'STARTDATE', 'ENDDATE', 'CALMONTH', 'CALMONTH_NUM', 'CLOSEDMONTH'])\r\n",
							"        df_stg = df_stg.unionByName(newrow, allowMissingColumns=True)\r\n",
							"\r\n",
							"\r\n",
							"df_stg.where(\"CALENDAR = 'Gregorian' and CALYEAR = 2021\").show()"
						],
						"outputs": [],
						"execution_count": 3
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Weeks"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"from datetime import datetime, timedelta\r\n",
							"\r\n",
							"df_stg = df_stg.select(['DIM_ALL_TIME_ID','GRAIN_LEVEL','CALENDAR','FISCALYEAR','STARTDATE','ENDDATE',\r\n",
							"    'CALENDARTYPE','QUARTER','MONTH','PERIODNAME','SHORTNAME','TYPE','DAYS','PERIODNUMBER',\r\n",
							"    'CALYEAR','CALMONTH','CALMONTH_NUM','CLOSEDMONTH',\r\n",
							"    lit(None).cast('integer').alias('YEAR_WEEK_IN'),\r\n",
							"    lit(None).cast('integer').alias('WEEK_STARTDATE'),\r\n",
							"    lit(None).cast('integer').alias('WEEK_ENDTDATE'),\r\n",
							"    lit(None).cast('integer').alias('PERIOD_STARTDATE'),\r\n",
							"    lit(None).cast('integer').alias('PERIOD_ENDDATE'),\r\n",
							"    lit(None).cast('integer').alias('YEAR_STARTDATE'),\r\n",
							"    lit(None).cast('integer').alias('YEAR_ENDDATE')])\r\n",
							"\r\n",
							"for row in df_stg.where(\"CALENDAR = 'Fiscal' and GRAIN_LEVEL = 'PERIOD'\").orderBy([\"FISCALYEAR\", \"PERIODNUMBER\"]).collect():\r\n",
							"    yearRow = []\r\n",
							"    weekNum = (row['PERIODNUMBER'] - 1) * 4\r\n",
							"    for i in range(0, int((datetime.strptime(row['ENDDATE'], '%Y-%m-%d %H:%M:%S') - datetime.strptime(row['STARTDATE'], '%Y-%m-%d %H:%M:%S')).days/7)):\r\n",
							"        weekStart = datetime.strptime(row['STARTDATE'], '%Y-%m-%d %H:%M:%S') + timedelta(days = 7*i)\r\n",
							"        weekNum = weekNum + 1\r\n",
							"        weekRow = ['Fiscal,WEEK,' + str(row['FISCALYEAR']) + ',' + str(weekNum), \r\n",
							"            'WEEK', row['CALENDAR'], row['FISCALYEAR'], row['PERIODNAME'],\r\n",
							"            weekStart, weekStart + timedelta(days = 6), row['PERIODNUMBER'],\r\n",
							"            row['QUARTER'], row['MONTH'], weekNum, weekStart, weekStart + timedelta(days = 6)]\r\n",
							"        yearRow.append(weekRow)\r\n",
							"    newYear = spark.createDataFrame(yearRow, ['DIM_ALL_TIME_ID', 'GRAIN_LEVEL', 'CALENDAR', 'FISCALYEAR', 'PERIODNAME', \r\n",
							"        'STARTDATE', 'ENDDATE', 'PERIODNUMBER', 'QUARTER', 'MONTH', 'YEAR_WEEK_IN'])\r\n",
							"    df_stg = df_stg.unionByName(newYear, allowMissingColumns=True)\r\n",
							"\r\n",
							"df_stg.createOrReplaceTempView('AllTimeStg')"
						],
						"outputs": [],
						"execution_count": 4
					},
					{
						"cell_type": "markdown",
						"metadata": {
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"Fiscal dates"
						]
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"df_stg = df_stg.select(['DIM_ALL_TIME_ID','GRAIN_LEVEL','CALENDAR','FISCALYEAR','STARTDATE','ENDDATE',\r\n",
							"    'CALENDARTYPE','QUARTER','MONTH','PERIODNAME','SHORTNAME','TYPE','DAYS','PERIODNUMBER',\r\n",
							"    'CALYEAR','CALMONTH','CALMONTH_NUM','CLOSEDMONTH','YEAR_WEEK_IN',\r\n",
							"    lit(None).cast('date').alias('CALENDARDATE')])\r\n",
							"\r\n",
							"weekRow = []\r\n",
							"for row in df_stg.where(\"CALENDAR = 'Fiscal' and GRAIN_LEVEL = 'WEEK'\").collect():\r\n",
							"    for i in range(0, (datetime.strptime(row['ENDDATE'], '%Y-%m-%d %H:%M:%S') - datetime.strptime(row['STARTDATE'], '%Y-%m-%d %H:%M:%S')).days + 1):\r\n",
							"        calDay = datetime.strptime(row['STARTDATE'], '%Y-%m-%d %H:%M:%S') + timedelta(days = i)\r\n",
							"        dayRow = ['Fiscal,DAY,' + str(calDay.year) + f'{calDay.month:02}' + f'{calDay.day:02}', 'DAY', row['CALENDAR'], row['FISCALYEAR'], row['PERIODNAME'],\r\n",
							"            calDay, calDay, calDay, row['PERIODNUMBER'], row['QUARTER'], row['MONTH'], calDay.year, str(calDay.year) + f'{calDay.month:02}', calDay.month,\r\n",
							"            1 if date(calDay.year, calDay.month, monthrange(calDay.year, calDay.month)[1]) < date.today() else 0, row['YEAR_WEEK_IN']]\r\n",
							"        weekRow.append(dayRow)\r\n",
							"\r\n",
							"newWeek = spark.createDataFrame(weekRow, ['DIM_ALL_TIME_ID', 'GRAIN_LEVEL', 'CALENDAR', 'FISCALYEAR', 'PERIODNAME', 'CALENDARDATE', \r\n",
							"    'STARTDATE', 'ENDDATE', 'PERIODNUMBER', 'QUARTER', 'MONTH', 'CALYEAR', 'CALMONTH', 'CALMONTH_NUM', 'CLOSEDMONTH', 'YEAR_WEEK_IN'])\r\n",
							"\r\n",
							"df_stg = df_stg.unionByName(newWeek, allowMissingColumns=True)\r\n",
							"\r\n",
							"df_stg.createOrReplaceTempView('AllTimeStg')\r\n",
							"\r\n",
							"df_stg.where(\"CALENDAR = 'Fiscal' and GRAIN_LEVEL = 'DAY' and FISCALYEAR = 2021 and PERIODNAME = 'Period 1'\").show()\r\n",
							""
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"select * from AllTimeStg\r\n",
							"where fiscalyear = 2019\r\n",
							"order by startdate\r\n",
							"limit 20\r\n",
							"\r\n",
							""
						],
						"outputs": [],
						"execution_count": 6
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/Lake Database')]",
			"type": "Microsoft.Synapse/workspaces/notebooks",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"nbformat": 4,
				"nbformat_minor": 2,
				"bigDataPool": {
					"referenceName": "ivsspark",
					"type": "BigDataPoolReference"
				},
				"sessionProperties": {
					"driverMemory": "28g",
					"driverCores": 4,
					"executorMemory": "28g",
					"executorCores": 4,
					"numExecutors": 2,
					"conf": {
						"spark.dynamicAllocation.enabled": "false",
						"spark.dynamicAllocation.minExecutors": "2",
						"spark.dynamicAllocation.maxExecutors": "2",
						"spark.autotune.trackingId": "7bbea90f-984d-46b3-ac0e-10b17a70747d"
					}
				},
				"metadata": {
					"saveOutput": true,
					"enableDebugMode": false,
					"kernelspec": {
						"name": "synapse_pyspark",
						"display_name": "Synapse PySpark"
					},
					"language_info": {
						"name": "python"
					},
					"a365ComputeOptions": {
						"id": "/subscriptions/f939f8f3-2652-4a45-88ae-78a7782ec9df/resourceGroups/ivs-dwh-rg/providers/Microsoft.Synapse/workspaces/ivs-synapse/bigDataPools/ivsspark",
						"name": "ivsspark",
						"type": "Spark",
						"endpoint": "https://ivs-synapse.dev.azuresynapse.net/livyApi/versions/2019-11-01-preview/sparkPools/ivsspark",
						"auth": {
							"type": "AAD",
							"authResource": "https://dev.azuresynapse.net"
						},
						"sparkVersion": "3.1",
						"nodeCount": 3,
						"cores": 4,
						"memory": 28
					},
					"sessionKeepAliveTimeout": 30
				},
				"cells": [
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"INSERT INTO `ivs-synapse-dldb`.`Party` VALUES (1,'TestParty',1022,557);"
						],
						"outputs": [],
						"execution_count": 12
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"DESCRIBE Extended `ivs-synapse-dldb`.`Party`"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"CONVERT to delta `ivs-synapse-dldb`.`Party`\r\n",
							""
						],
						"outputs": [],
						"execution_count": 15
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							}
						},
						"source": [
							"spark.sql(f\"\"\"\r\n",
							"CREATE TABLE Party_delta\r\n",
							"USING DELTA\r\n",
							"LOCATION \"abfss://synapse@ivsdatastorage.dfs.core.windows.net/ivs-synapse-dldb/Party\"\r\n",
							"\"\"\")"
						],
						"outputs": [],
						"execution_count": 5
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"select * from Party_delta"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"ALTER TABLE Party_delta\r\n",
							"ADD COLUMNS (dte date)\r\n",
							""
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"INSERT INTO Party_delta VALUES (2,'TestPartyInserted',9476,265,null);"
						],
						"outputs": [],
						"execution_count": 10
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"UPDATE Party_delta SET dte = '2021-03-16'\r\n",
							"    where partyId = 1"
						],
						"outputs": [],
						"execution_count": 19
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"DELETE FROM Party_delta\r\n",
							"where partyid = 2"
						],
						"outputs": [],
						"execution_count": 14
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"DESCRIBE history Party_delta"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"DESCRIBE extended Party_delta"
						],
						"outputs": [],
						"execution_count": null
					},
					{
						"cell_type": "code",
						"metadata": {
							"jupyter": {
								"source_hidden": false,
								"outputs_hidden": false
							},
							"nteract": {
								"transient": {
									"deleting": false
								}
							},
							"microsoft": {
								"language": "sparksql"
							},
							"collapsed": false
						},
						"source": [
							"%%sql\r\n",
							"optimize Party_delta"
						],
						"outputs": [],
						"execution_count": 3
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('workspaceName'), '/ivsspark')]",
			"type": "Microsoft.Synapse/workspaces/bigDataPools",
			"apiVersion": "2019-06-01-preview",
			"properties": {
				"autoPause": {
					"enabled": true,
					"delayInMinutes": 5
				},
				"autoScale": {
					"enabled": false,
					"maxNodeCount": 10,
					"minNodeCount": 3
				},
				"nodeCount": 3,
				"nodeSize": "Small",
				"nodeSizeFamily": "MemoryOptimized",
				"sparkVersion": "3.1",
				"isComputeIsolationEnabled": false,
				"sessionLevelPackagesEnabled": false,
				"annotations": []
			},
			"dependsOn": [],
			"location": "westus"
		}
	]
}