pipeline/SQLPoolStartStop.json
{
	"name": "SQLPoolStartStop",
	"properties": {
		"description": "Use p_action = 'resume' to start or 'pause to stop dedicated SQL pool",
		"activities": [
			{
				"name": "If not PROD",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "FilterSystem",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('FilterSystem').output.FilteredItemsCount, 0)",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Start SQL Pool",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"method": "POST",
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/', \nactivity('FilterSystem').output.Value[0].subscriptionId, \n'/resourceGroups/', \nactivity('FilterSystem').output.Value[0].resourceGroup, \n'/providers/Microsoft.Synapse/workspaces/', \npipeline().DataFactory, \n'/sqlPools/', activity('FilterSystem').output.Value[0].sqlPool,\n'/', pipeline().parameters.p_action, '?api-version=2019-06-01-preview')",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "SHIR",
									"type": "IntegrationRuntimeReference"
								},
								"body": "'{ }'",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.azure.com/"
								}
							}
						}
					]
				}
			},
			{
				"name": "FilterSystem",
				"type": "Filter",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@pipeline().parameters.c_system_landscape",
						"type": "Expression"
					},
					"condition": {
						"value": "@equals(item().SynapseWorkspace, pipeline().DataFactory)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_action": {
				"type": "string",
				"defaultValue": "pause"
			},
			"c_system_landscape": {
				"type": "array",
				"defaultValue": [
					{
						"environment": "DV",
						"SynapseWorkspace": "ivs-synapse",
						"resourceGroup": "ivs-dwh-rg",
						"subscriptionId": "f939f8f3-2652-4a45-88ae-78a7782ec9df",
						"sqlPool": "ivssql"
					}
				]
			}
		},
		"folder": {
			"name": "Templates"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-13T02:41:36Z"
	},
	"type": "Microsoft.Synapse/workspaces/pipelines"
}