pipeline/StarSchemaDimension.json
{
	"name": "StarSchemaDimension",
	"properties": {
		"activities": [
			{
				"name": "StarSchemaDimension",
				"type": "ExecuteDataFlow",
				"dependsOn": [
					{
						"activity": "If Target Delta Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StarSchemaDimension",
						"type": "DataFlowReference",
						"parameters": {
							"p_src_key_cols": [
								"name"
							],
							"p_src_cdc_col": "'rawTimestamp'",
							"p_surrogate_key_col": "'dataflows_key'",
							"c_trg_dss_update_col": "'dss_update_time'",
							"c_trg_dss_create_col": "'dss_create_time'",
							"p_partition_formula": "\"'dummy'\"",
							"c_trg_partition_col": "'DIM_PARTITION'",
							"p_src_schema": "'enr'",
							"p_src_object": "'dataflows_REST_API'",
							"p_datetime_from": {
								"value": "'@{pipeline().parameters.p_datetime_from}'",
								"type": "Expression"
							},
							"p_trg_table": "'DimDataflows'",
							"p_init_load": "true()",
							"c_trg_container": "'template'",
							"c_trg_root_folder": "'StarSchemaObjects'"
						},
						"datasetParameters": {
							"DataSource": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"Dimension": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"DimensionMaxKey": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"DimensionZeroRow": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetTargetDeltaMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GenericCuratedJsonFolder",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "@pipeline().parameters.c_trg_container",
								"type": "Expression"
							},
							"p_folder": {
								"value": "@concat(pipeline().parameters.c_trg_root_folder, '/', pipeline().parameters.p_trg_table)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Target Delta Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetTargetDeltaMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GenericEnrichedParquet linked service",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('GetTargetDeltaMetadata').output.exists",
						"type": "Expression"
					}
				}
			},
			{
				"name": "GenericCuratedParquet attributes",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', pipeline().DataFactory, '.dev.azuresynapse.net/datasets/GenericCuratedParquet?api-version=2020-12-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SHIR",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "GenericEnrichedParquet linked service",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GenericCuratedParquet attributes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', pipeline().DataFactory, '.dev.azuresynapse.net/linkedservices/', activity('GenericCuratedParquet attributes').output.properties.linkedServiceName.referenceName, '?api-version=2020-12-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SHIR",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			}
		],
		"parameters": {
			"c_serverless_db": {
				"type": "string",
				"defaultValue": "templateDB"
			},
			"p_datetime_from": {
				"type": "string"
			},
			"p_trg_table": {
				"type": "string",
				"defaultValue": "DimDataflows"
			},
			"c_trg_container": {
				"type": "string",
				"defaultValue": "template"
			},
			"c_trg_root_folder": {
				"type": "string",
				"defaultValue": "StarSchemaObjects"
			}
		},
		"folder": {
			"name": "Templates"
		},
		"annotations": []
	}
}