pipeline/StarSchemaDimension.json
{
	"name": "StarSchemaDimension",
	"properties": {
		"activities": [
			{
				"name": "StarSchemaDimension",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "If Target Delta Exists",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "StarSchemaDimension",
						"type": "DataFlowReference",
						"parameters": {
							"p_src_key_cols": [
								"name"
							],
							"p_src_cdc_col": "'rawTimestamp'",
							"p_surrogate_key_col": "'dataflows_key'",
							"c_trg_dss_update_col": "'dss_update_time'",
							"c_trg_dss_create_col": "'dss_create_time'",
							"p_partition_formula": "\"'dummy'\"",
							"c_trg_partition_col": "'DIM_PARTITION'",
							"p_src_schema": "'enr'",
							"p_src_object": "'dataflows_REST_API'",
							"p_datetime_from": {
								"value": "'@{variables('v_datetime_from')}'",
								"type": "Expression"
							},
							"p_trg_table": "'DimDataflows'",
							"p_init_load": "true()",
							"c_trg_container": "'template'",
							"c_trg_root_folder": "'StarSchemaObjects'"
						},
						"datasetParameters": {
							"DataSource": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"Dimension": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"DimensionMaxKey": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							},
							"DimensionZeroRow": {
								"p_database": {
									"value": "@pipeline().parameters.c_serverless_db",
									"type": "Expression"
								},
								"p_schema": "dummy",
								"p_table": "dummy"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "GetTargetDeltaMetadata",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "GenericCuratedJsonFolder",
						"type": "DatasetReference",
						"parameters": {
							"p_container": {
								"value": "@pipeline().parameters.c_trg_container",
								"type": "Expression"
							},
							"p_folder": {
								"value": "@concat(pipeline().parameters.c_trg_root_folder, '/', pipeline().parameters.p_trg_table)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If Target Delta Exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "GetTargetDeltaMetadata",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "GenericCuratedParquet linked service",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@and(activity('GetTargetDeltaMetadata').output.exists, not(empty(pipeline().parameters.p_src_cdc_col)))",
						"type": "Expression"
					},
					"ifFalseActivities": [
						{
							"name": "Set v_datetime_from False",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_datetime_from",
								"value": {
									"value": "@pipeline().parameters.p_datetime_from",
									"type": "Expression"
								}
							}
						}
					],
					"ifTrueActivities": [
						{
							"name": "DatetimeFrom",
							"type": "Script",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 2,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "serverless_ARIR",
								"type": "LinkedServiceReference",
								"parameters": {
									"p_database": {
										"value": "@pipeline().parameters.c_serverless_db",
										"type": "Expression"
									}
								}
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "@if(empty(pipeline().parameters.p_datetime_from),\n    concat('select max(', pipeline().parameters.p_src_cdc_col, ') as CDCTimestamp from openrowset( bulk ''',activity('GenericCuratedParquet linked service').output.properties.typeProperties.url, pipeline().parameters.c_trg_container, '/', pipeline().parameters.c_trg_root_folder, '/', pipeline().parameters.p_trg_table, ''', format = ''DELTA'') as result'),\n    concat('select ''', replace(replace(replace(replace(replace(\n                    formatDateTime(\n                        pipeline().parameters.p_datetime_from, \n                        'yyyy-MM-ddTHH:mm:ss.fffffffZ'\n                    ), \n                    '0000Z', 'Z'), '000Z', 'Z'), '00Z', 'Z'), '0Z', 'Z'), '.Z', 'Z'\n                ),\n        ''' as CDCTimestamp'\n    )\n)",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "Set v_datetime_from True",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "DatetimeFrom",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "v_datetime_from",
								"value": {
									"value": "@activity('DatetimeFrom').output.resultSets[0].rows[0].CDCTimestamp",
									"type": "Expression"
								}
							}
						}
					]
				}
			},
			{
				"name": "GenericCuratedParquet attributes",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', pipeline().DataFactory, '.dev.azuresynapse.net/datasets/GenericCuratedParquet?api-version=2020-12-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SHIR",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "GenericCuratedParquet linked service",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "GenericCuratedParquet attributes",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": {
						"value": "@concat('https://', pipeline().DataFactory, '.dev.azuresynapse.net/linkedservices/', activity('GenericCuratedParquet attributes').output.properties.linkedServiceName.referenceName, '?api-version=2020-12-01')",
						"type": "Expression"
					},
					"connectVia": {
						"referenceName": "SHIR",
						"type": "IntegrationRuntimeReference"
					},
					"authentication": {
						"type": "MSI",
						"resource": "https://dev.azuresynapse.net/"
					}
				}
			},
			{
				"name": "createTmpView",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "StarSchemaDimension",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 2,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "serverless_ARIR",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_database": {
							"value": "@pipeline().parameters.c_serverless_db",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "create or alter view \n@{pipeline().parameters.p_trg_table}_tmp\nas select * from OPENROWSET(\n\tBULK '@{activity('GenericCuratedParquet linked service').output.properties.typeProperties.url}@{pipeline().parameters.c_trg_container}/@{pipeline().parameters.c_trg_root_folder}/@{pipeline().parameters.p_trg_table}',\n\tFORMAT = 'Delta'\n) as r",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ExternalTableSQL",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "createTmpView",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "serverless_ARIR",
					"type": "LinkedServiceReference",
					"parameters": {
						"p_database": {
							"value": "@pipeline().parameters.c_serverless_db",
							"type": "Expression"
						}
					}
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select 'CREATE EXTERNAL TABLE ' +\n'@{pipeline().parameters.p_trg_table} (' + \nchar(10) +\nSTRING_AGG('[' + \ncast(colName as varchar(max)) + '] ' + \ndataType, ',' + char(10)) \nWITHIN GROUP (ORDER BY column_id ASC) + char(10) +\n') WITH (LOCATION = ''@{pipeline().parameters.c_trg_root_folder}/@{pipeline().parameters.p_trg_table}'', DATA_SOURCE = pipeline().parameters.p_cur_data_source,  FILE_FORMAT = Delta)' as SQL\nfrom (select \nc.name colName, coalesce(r.dataType,\nCASE \n      WHEN t.[name] IN ('varchar', 'char', 'varbinary') THEN t.[name] + '(' + IIF(c.max_length = -1, 'max', CAST(c.max_length AS VARCHAR(25))) + ')' \n      WHEN t.[name] IN ('nvarchar','nchar') THEN t.[name] + '(' + IIF(c.max_length = -1, 'max', CAST(c.max_length / 2 AS VARCHAR(25)))+ ')'      \n      WHEN t.[name] IN ('decimal', 'numeric') THEN t.[name] + '(' + CAST(c.[precision] AS VARCHAR(25)) + ', ' + CAST(c.[scale] AS VARCHAR(25)) + ')'\n      WHEN t.[name] IN ('datetime2') THEN t.[name] + '(' + CAST(c.[scale] AS VARCHAR(25)) + ')'\n      ELSE t.[name]\nEND) AS dataType,\nc.column_id\nfrom sys.columns c\njoin sys.views v on v.object_id = c.object_id\njoin sys.schemas s on s.schema_id = v.schema_id\njoin sys.types t on c.user_type_id = t.user_type_id \nleft outer join \n@{if(empty(pipeline().parameters.p_data_type_replace), \n'(select null col, null dataType) r',\nconcat('(select * from OpenJson(N''',\nstring(pipeline().parameters.p_data_type_replace),\n''') WITH (col varchar(255), dataType varchar(255)) as r) r'))}\non r.col = c.name\nwhere s.name = 'dbo' and c.name <> '@{pipeline().parameters.c_trg_partition_col}' and v.name = \n'@{pipeline().parameters.p_trg_table}_tmp') q",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			}
		],
		"parameters": {
			"c_serverless_db": {
				"type": "string",
				"defaultValue": "templateDB"
			},
			"p_datetime_from": {
				"type": "string"
			},
			"p_trg_table": {
				"type": "string",
				"defaultValue": "DimDataflows"
			},
			"c_trg_container": {
				"type": "string",
				"defaultValue": "template"
			},
			"c_trg_root_folder": {
				"type": "string",
				"defaultValue": "StarSchemaObjects"
			},
			"p_src_cdc_col": {
				"type": "string",
				"defaultValue": "enrTimestamp"
			},
			"p_cur_data_source": {
				"type": "string",
				"defaultValue": "TemplateCuratedSource"
			},
			"p_data_type_replace": {
				"type": "array",
				"defaultValue": [
					{
						"col": "name",
						"dataType": "varchar(255)"
					}
				]
			},
			"c_trg_partition_col": {
				"type": "string",
				"defaultValue": "DIM_PARTITION"
			}
		},
		"variables": {
			"v_datetime_from": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Templates"
		},
		"annotations": []
	}
}