pipeline/TemplateOrchestration.json
{
	"name": "TemplateOrchestration",
	"properties": {
		"activities": [
			{
				"name": "ServerlessDBDeploy",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ServerlessDBDeploy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_serverless_db": {
							"value": "@pipeline().parameters.p_serverless_db",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "ServerlessObjectsDeploy",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "ServerlessDBDeploy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "ServerlessObjectsDeploy",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"c_text_replacement": {
							"value": "@pipeline().parameters.c_text_replacement",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FromRESTAPIToJson",
				"type": "ExecutePipeline",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FromRESTAPIToJson",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_datasets": {
							"value": "@pipeline().parameters.p_rest_api_datasets",
							"type": "Expression"
						},
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FromJsonToDeltaParquet",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromRESTAPIToJson",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "ServerlessObjectsDeploy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FromJsonToDeltaParquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_datasets": {
							"value": "@pipeline().parameters.p_json_to_delta_datasets",
							"type": "Expression"
						},
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FromSQLtoRawParquet",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromJsonToDeltaParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FromSQLtoRawParquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_datasets": {
							"value": "@pipeline().parameters.p_sql_to_parquet_datasets",
							"type": "Expression"
						},
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "FromParquetToDeltaParquet",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromSQLtoRawParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FromParquetToDeltaParquet",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_datasets": {
							"value": "@pipeline().parameters.p_parquet_to_delta_datasets",
							"type": "Expression"
						},
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "Dataflows_StarSchemaDimension",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromJsonToDeltaParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StarSchemaDimension",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_trg_table": "DimDataflows",
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						},
						"p_surrogate_key_col": "dataflows_key",
						"p_src_object": "dataflows_REST_API",
						"p_src_key_cols": "[\"name\"]",
						"p_data_type_replace": "[{\"col\":\"name\",\"dataType\":\"varchar(255)\"}]"
					}
				}
			},
			{
				"name": "Datasets_StarSchemaDimension",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromJsonToDeltaParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StarSchemaDimension",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_trg_table": "DimDatasets",
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						},
						"p_surrogate_key_col": "datasets_key",
						"p_src_object": "datasets_REST_API",
						"p_src_key_cols": "[\"name\"]",
						"p_data_type_replace": "[{\"col\":\"name\",\"dataType\":\"varchar(255)\"}]"
					}
				}
			},
			{
				"name": "FromDeltaToWideDelta",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "FromJsonToDeltaParquet",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "FromDeltaToWideDelta",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_src_objects": {
							"value": "@pipeline().parameters.p_delta_to_wide_src_objects",
							"type": "Expression"
						},
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "StarSchemaFact",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Dataflows_StarSchemaDimension",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Datasets_StarSchemaDimension",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "FromDeltaToWideDelta",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "StarSchemaFact",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"p_trg_table": "FactDataflowsDatasets",
						"p_datetime_from": {
							"value": "@pipeline().parameters.p_datetime_from",
							"type": "Expression"
						},
						"p_src_object": "dataflows_datasets_WIDE",
						"p_src_key_cols": "[\"dataflows_name\",\"datasets_name\"]",
						"p_data_type_replace": "{\"col\":\"dataflows_datasets_name\",\"dataType\":\"varchar(255)\"},{\"col\":\"dataflows_name\",\"dataType\":\"varchar(255)\"},{\"col\":\"datasets_name\",\"dataType\":\"varchar(255)\"}]",
						"p_dw_dim_tabs": {
							"value": "@pipeline().parameters.p_star_schema_dw_dim_tabs",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "WarningEmail",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "Set v_error_array",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "WarningEmail",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true
				}
			},
			{
				"name": "Set v_error_array",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "FromDeltaToWideDelta",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Datasets_StarSchemaDimension",
						"dependencyConditions": [
							"Completed"
						]
					},
					{
						"activity": "Dataflows_StarSchemaDimension",
						"dependencyConditions": [
							"Completed"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "v_error_array",
					"value": {
						"value": "@json(concat('[', replace(concat(\nif(empty(activity('Dataflows_StarSchemaDimension').error?.target), '', activity('Dataflows_StarSchemaDimension').error),\nif(empty(activity('Datasets_StarSchemaDimension').error?.target), '', activity('Datasets_StarSchemaDimension').error),\nif(empty(activity('FromDeltaToWideDelta').error?.target), '', activity('FromDeltaToWideDelta').error)\n), '}{', '},{'), ']'))",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"p_serverless_db": {
				"type": "array",
				"defaultValue": [
					{
						"serverlessDB": "templateDB",
						"masterkeySecret": "template-sqlpool-master-key",
						"scopedCredential": "SynapseIdentity"
					}
				]
			},
			"p_rest_api_datasets": {
				"type": "array",
				"defaultValue": [
					{
						"source": "dataflows",
						"target": "dataflows_REST_API",
						"path": "/",
						"delta": false,
						"crossApplyField": "value",
						"select": null,
						"filter": "api-version=2020-12-01",
						"cdcCol": null,
						"keyCol": "name",
						"relCol": null
					},
					{
						"source": "datasets",
						"target": "datasets_REST_API",
						"path": "/",
						"delta": false,
						"crossApplyField": "value",
						"select": null,
						"filter": "api-version=2020-12-01",
						"cdcCol": null,
						"keyCol": "name",
						"relCol": null
					},
					{
						"source": "datasets",
						"target": "datasets_relations11_REST_API",
						"path": "/",
						"delta": false,
						"crossApplyField": "value",
						"select": null,
						"filter": "api-version=2020-12-01",
						"cdcCol": null,
						"keyCol": "name",
						"relCol": null
					},
					{
						"source": "dataflows",
						"target": "dataflows_datasets_REST_API",
						"path": "/",
						"delta": false,
						"crossApplyField": "value",
						"select": null,
						"filter": "api-version=2020-12-01",
						"cdcCol": null,
						"keyCol": "name",
						"relCol": "properties.typeProperties.sources.dataset.referenceName"
					}
				]
			},
			"c_text_replacement": {
				"type": "array",
				"defaultValue": [
					{
						"textToFind": "{raw_storage_account}",
						"textForReplace": "ivsraw"
					},
					{
						"textToFind": "{enr_storage_account}",
						"textForReplace": "ivscur"
					},
					{
						"textToFind": "{cur_storage_account}",
						"textForReplace": "ivscur"
					}
				]
			},
			"p_json_to_delta_datasets": {
				"type": "array",
				"defaultValue": [
					{
						"type": "basic",
						"target": "dataflows_REST_API",
						"cdcCol": null,
						"keyCol": "name",
						"dataTypeReplace": [
							{
								"col": "type",
								"dataType": "nvarchar(200)"
							}
						],
						"relCol": null,
						"partitionFormula": "'dummy'"
					},
					{
						"type": "basic",
						"target": "datasets_REST_API",
						"cdcCol": null,
						"keyCol": "name",
						"dataTypeReplace": [
							{
								"col": "type",
								"dataType": "nvarchar(200)"
							}
						],
						"relCol": null,
						"partitionFormula": "'dummy'"
					},
					{
						"type": "relationsMM",
						"target": "dataflows_datasets_REST_API",
						"cdcCol": null,
						"keyCol": "name",
						"dataTypeReplace": null,
						"relCol": "properties.typeProperties.sources.dataset.referenceName",
						"partitionFormula": "'dummy'"
					},
					{
						"type": "relations11",
						"target": "datasets_relations11_REST_API",
						"cdcCol": null,
						"keyCol": "name",
						"dataTypeReplace": null,
						"relCol": null,
						"partitionFormula": "'dummy'"
					}
				]
			},
			"p_sql_to_parquet_datasets": {
				"type": "array",
				"defaultValue": [
					{
						"sourceObject": "dataflows_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "dataflows_SQL",
						"processingMode": "bulk",
						"cdcCol": ""
					},
					{
						"sourceObject": "datasets_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "lower(name) like '%template%' or lower(name) like '%generic%'",
						"target": "datasets_SQL",
						"processingMode": "bulk",
						"cdcCol": ""
					},
					{
						"sourceObject": "datasets_relations11_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "datasets_relations11_SQL",
						"processingMode": "incremental",
						"cdcCol": "enrTimestamp"
					},
					{
						"sourceObject": "dataflows_datasets_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "dataflows_datasets_SQL",
						"processingMode": "incremental",
						"cdcCol": "enrTimestamp"
					}
				]
			},
			"p_parquet_to_delta_datasets": {
				"type": "array",
				"defaultValue": [
					{
						"sourceObject": "dataflows_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "dataflows_SQL",
						"processingMode": "bulk",
						"cdcCol": "",
						"keyCol": [
							"name"
						],
						"dataTypeReplace": null,
						"partitionFormula": "'dummy'"
					},
					{
						"sourceObject": "datasets_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "datasets_SQL",
						"processingMode": "bulk",
						"cdcCol": "",
						"keyCol": [
							"name"
						],
						"dataTypeReplace": null,
						"partitionFormula": "'dummy'"
					},
					{
						"sourceObject": "datasets_relations11_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "datasets_relations11_SQL",
						"processingMode": "incremental",
						"cdcCol": "enrTimestamp",
						"keyCol": [
							"name"
						],
						"dataTypeReplace": null,
						"partitionFormula": "'dummy'"
					},
					{
						"sourceObject": "dataflows_datasets_REST_API",
						"sourceSchema": "enr",
						"whereStatement": "",
						"target": "dataflows_datasets_SQL",
						"processingMode": "incremental",
						"cdcCol": "enrTimestamp",
						"keyCol": [
							"name",
							"propertiestypePropertiessourcesdatasetreferenceName"
						],
						"dataTypeReplace": null,
						"partitionFormula": "'dummy'"
					}
				]
			},
			"p_delta_to_wide_src_objects": {
				"type": "array",
				"defaultValue": [
					{
						"iteration": 0,
						"object": "dataflows_datasets_REST_API",
						"schema": "enr",
						"alias": "dataflows_datasets",
						"trgKeyCol": "name,propertiestypePropertiessourcesdatasetreferenceName",
						"cdcCol": "enrTimestamp",
						"selectCols": "*",
						"joinCondition": null,
						"joinType": null,
						"joinOrder": 0
					},
					{
						"iteration": 0,
						"object": "dataflows_REST_API",
						"schema": "enr",
						"alias": "dataflows",
						"trgKeyCol": null,
						"cdcCol": "enrTimestamp",
						"selectCols": "*",
						"joinCondition": "dataflows.name = dataflows_datasets.name",
						"joinType": "left outer",
						"joinOrder": 1
					},
					{
						"iteration": 0,
						"object": "datasets_REST_API",
						"schema": "enr",
						"alias": "datasets",
						"trgKeyCol": null,
						"cdcCol": "enrTimestamp",
						"selectCols": "*",
						"joinCondition": "datasets.name = dataflows_datasets.propertiestypePropertiessourcesdatasetreferenceName",
						"joinType": "left outer",
						"joinOrder": 2
					}
				]
			},
			"p_star_schema_dw_dim_tabs": {
				"type": "array",
				"defaultValue": [
					{
						"dimTab": "DimDataflows",
						"dimAlias": "DimDataflows",
						"dimKey": "dataflows_key",
						"keyAlias": "dataflows_key",
						"joinStatement": "stg.dataflows_name = DimDataflows.name"
					},
					{
						"dimTab": "DimDatasets",
						"dimAlias": "DimDatasets",
						"dimKey": "datasets_key",
						"keyAlias": "datasets_key",
						"joinStatement": "stg.datasets_name = DimDatasets.name"
					}
				]
			},
			"p_datetime_from": {
				"type": "string"
			}
		},
		"variables": {
			"v_error_array": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "Templates"
		},
		"annotations": []
	}
}